In [ ]:
a = int()
dict()
str()
tuple()
float()
set()

# variables associées:
   - variables d'instances
   - variables de classe
# méthodes (functions) associés:
   - méthode d'instances
   - méthode de classe

In [242]:
class People:    
    # variable de classe
    nb_of_arms = 2
    nb_of_legs = 2
    
        
    # méthode d'instance avec __xxx__: dunder / magic methods
    def __init__(self, name, age, temerite=5):
        """défini une nouvelle personne avec un age et un nom"""
        self.age = age
        self.name = name
        self.temerite = temerite

    # méthode d'instance avec __xxx___ dunder / magic methods
    def __str__(self):
        return f"une personne qui s'appelle {self.name} et d'âge: {self.age}"
        
    
    def __add__(self, autre): # comportement quand je fais instance1 + instance2
        if isinstance(autre, People):
            return People(age = self.age + autre.age,
                          name = "ladditionné",
                          temerite = self.temerite + autre.temerite)
        return 0
    
    # méthode custom d'instance aussi 
    def birthday(self):
        """la personne vient d'avoir un an de plus"""
        self.age += 1
    
    # méthode custom d'instance aussi
    def accident(self):
        print(self.nb_of_arms)
        self.age += 1
        self.temerite -= 1
        self.__class__.nb_of_arms = self.__class__.nb_of_arms - 1
        

    #méthode pas d'instance, mais une méthode de classe
    @classmethod
    def apocalypse(cls):
        if cls.nb_of_arms == 0:
            pass
        else:
            cls.nb_of_arms -= 1
        cls.nb_of_legs - 1
            
    @staticmethod
    def message(name):
        return "salut "

In [246]:
humain1 = People(name="Luc", age=25)
humain2 = People(name="Marie", age=26)

In [248]:
humain3 = humain1 + humain2

In [249]:
humain3.temerite

10

In [226]:
humain1.nb_of_arms, humain2.nb_of_arms

(2, 2)

In [227]:
humain1.apocalypse()

In [228]:
humain1.nb_of_arms, humain2.nb_of_arms

(1, 1)

In [241]:
type(People)

type

In [239]:
id(People)

140327579602512

In [240]:
id(humain3.__class__)

140327500121200

In [229]:
humain3 = People(name="sétphane", age=25)

In [235]:
humain3.nb_of_arms

1

In [222]:
humain1.temerite, humain2.temerite

(4, 5)

(1, 1)

In [219]:
humain1.accident()

2

In [201]:
class Maths:
    @staticmethod
    def power2(entier):
        return entier**2
    
    @staticmethod
    def factoriel(entier):
        return 0

In [204]:
instance = Maths()

In [205]:
instance.power2(23)

529

In [202]:
Maths.power2(23)

529

In [203]:
Maths.factoriel(5)

0

In [195]:
humain1 = People(name="Luc", age=25)

In [196]:
humain1.message("test")

'salut test'

In [165]:
humain1 = People(name="Luc", age=25)
humain2 = People(name="Vincent", age=18)
humain3 = People(name="Marie", age=25)
humain4 = People(name="Stéphanie", age=18)

In [166]:
print( humain1)

une personne qui s'appelle Luc et d'âge: 25

In [186]:
class Student(People):
    
    def __init__(self, name, age, filiere, nb_annees_etudes, temerite=5):
        super().__init__(name, age, temerite)
        self.filiere = filiere
        self.nb_annees_etudes = nb_annees_etudes
        
    def __str__(self):
        output = super().__str__()
        return output +"\n"+ "avec la filiere: " + self.filiere + "\tet nb annees études: " + str(self.nb_annees_etudes)

In [ ]:
cl

In [187]:
etudiant1 = Student("Luc", 25, "maths", 7)

In [188]:
print(etudiant1)

une personne qui s'appelle Luc et d'âge: 25
avec la filiere: maths	et nb annees études: 7

In [190]:
liste = [etudiant1, humain1, humain2, "salut", 25, [1,2,3]]

In [193]:
for el in liste:
    print( el )

une personne qui s'appelle Luc et d'âge: 26
avec la filiere: maths	et nb annees études: 7
une personne qui s'appelle Luc et d'âge: 26
une personne qui s'appelle Vincent et d'âge: 19
salut
25
[1, 2, 3]

In [146]:
type(etudiant1)

__main__.Student

In [145]:
etudiant1.birthday()
print(etudiant1)

une personne qui s'appelle Luc et d'âge: 36

In [131]:
print( etudiant1 )

une personne qui s'appelle Luc et d'âge: 25

In [124]:
humains = [humain1, humain2, humain3, humain4]

In [125]:
for humain in humains:
    print( humain )
    humain.birthday()
    print( humain )

une personne qui s'appelle Luc et d'âge: 25
une personne qui s'appelle Luc et d'âge: 26
une personne qui s'appelle Vincent et d'âge: 18
une personne qui s'appelle Vincent et d'âge: 19
une personne qui s'appelle Marie et d'âge: 25
une personne qui s'appelle Marie et d'âge: 26
une personne qui s'appelle Stéphanie et d'âge: 18
une personne qui s'appelle Stéphanie et d'âge: 19

In [117]:
print(humain2)

une personne qui s'appelle Vincent et d'âge: 18

In [ ]:
People.apocalypse()

In [107]:
humain1.apocalypse() # humain1.apocalypse() , humain2.apocalypse()

In [108]:
humain1.nb_of_arms, humain2.nb_of_arms

(0, 0)

In [71]:
humain1.nb_of_arms

-2

In [70]:
humain1.accident()

-1

In [268]:
class ListAvecSpecialDisplay(list):
    def __str__(self):
        output = ""
        for index, valeur in enumerate(self):
            output += f"l'index {index}: \tavec valeur {valeur}\n"
        return output

In [272]:
liste = ListAvecSpecialDisplay([1,10,3,4])

In [273]:
print(liste)

l'index 0: 	avec valeur 1
l'index 1: 	avec valeur 10
l'index 2: 	avec valeur 3
l'index 3: 	avec valeur 4