# raccourcis ! 
 - shift + Enter = éxécute la cellule et passe à la suivante
 - cmd (ou ctrl) + Enter = éxécute la cellule mais reste focus dessus

## différents types de cells:
 - cells qui contiennent du code
 - celles qui contiennent du markdown (ou de l'html)

### comment passer d'une cellule de code à une cellule avec de l'hmtl / ou markdown ?
1. passer en mode édition du 'type' de cellule en appuyant sur Esc
2.  
- passer en code +Y
- passer en markdown +M

## ajouter / supprimer des cellules
1. ajouter:
    - une cellule en haut => Esc + A
    - une cellule en bas => Esc + B
2. supprimer une cellule
    - Esc + D + D

# est-ce qu'on peut mettre du html ?

<h1 style="color: red;"><strong>Bonjour à tous!</strong></h1>

<img src="./Coronavirus.jpg" width="400px" align="left">

In [ ]:
# En python tout est objet

1. **tout objet** détient un **id** unique, 
la fonction ```id()``` retourne l'id de l'objet

2. **tout objet** a un **type**, la fonction ```type()``` retourne le type de l'objet

3. "orienté-objet" => un objet avec ces caractéristiques et des comportements spécifiques
     -  méthodes (functions associées à des objets)
     -  variables ( caractéristiques, des variables supplémentaires associées à mon objet)
     
     ```dir(a)```
     - un constructeur

In [52]:
a = "bonjour"
a.capitalize()

'Bonjour'

In [63]:
uneliste = dir(a)

In [67]:
id(uneliste), type(uneliste)

(4624132672, list)

**type <=> class**

In [457]:
a = int(3)

In [458]:
type(a)

int

In [464]:
int("34")

34

# integers

In [71]:
print(2 + 3)
print(2 - 3)
print(2 / 2)
print(2 // 2)
print(2 % 2)

5
-1
1.0
1
0

In [73]:
(2).__add__(3)

5

In [74]:
(2).__sub__(3)

-1

In [75]:
(2).__mod__(2)

0

In [77]:
print(dir(2))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

# strings

In [465]:
mastring = str("bonjour")

In [466]:
mastring

'bonjour'

In [467]:
str(2)

'2'

In [82]:
print(dir(mastring))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [84]:
mastring + "salut"

'bonjoursalut'

In [83]:
mastring.__add__("salut")

'bonjoursalut'

### nom de la variable puis le point '.' + appui sur la tabulation
#### <=> autosuggestions

### une fois une sélectionnée => appui sur Shift + Tab 
#### <=>  docstring (documentation de ce que la méthode ou de ce qu'est la variable)

In [85]:
mastring.capitalize()

'Bonjour'

In [94]:
mastring.endswith("our")

True

In [98]:
mastring.startswith("bo")

True

In [100]:
mastring.count("n")

1

In [105]:
mastring.find("O")

-1

In [106]:
mastring.isdigit()

False

In [107]:
"123".isdigit()

True

In [115]:
tel = "   +33 1610 10 10 10    "

In [118]:
mobil = input("donnez votre tel:")

donnez votre tel:+33 68 199 92 983

In [122]:
mobil.strip(" +10")

'33 68 199 92 983'

In [126]:
mastring2 = mastring.replace("on", "a")

In [132]:
mastring.replace("o", "a").strip("b")

'anjaur'

In [140]:
mastring.upper()

'BONJOUR'

In [144]:
if mastring.islower():
    print( "mastring était déjà en minuscule !")

mastring était déjà en minuscule !

In [145]:
"bonjour" + "2"

'bonjour2'

In [146]:
"2"+ "2"

'22'

In [147]:
2 + 2

4

In [155]:
str(2)
#(2).__str__()

'2'

In [156]:
"bonjour" + str(2)

'bonjour2'

In [157]:
"bonjour".__add__(str(2))

'bonjour2'

In [162]:
for lettre in "bonjour": # "bonjour.__iter__()"
    print( lettre )

b
o
n
j
o
u
r

In [169]:
# indexer une string
mastring[4]

'o'

# méga important: Python est 0-indexed

In [170]:
mastring[0]

'b'

In [187]:
mastring.__getitem__(2)

'n'

In [188]:
mastring

'bonjour'

In [192]:
mastring[0:2] + "s" + mastring[3:]

'bosjour'

In [189]:
mastring[2] = "s"

TypeError: 'str' object does not support item assignment

In [174]:
mastring[-1]

'r'

In [175]:
mastring[7]

IndexError: string index out of range

In [181]:
# slicer une string
mastring[0:4:2] # [start:fin](fin est exclus) , [start:fin:step]

'bn'

# listes

In [478]:
liste = []
for lettre in "bonjour":
    liste.append(lettre)
liste

['b', 'o', 'n', 'j', 'o', 'u', 'r']

In [475]:
list("bonjour")

['b', 'o', 'n', 'j', 'o', 'u', 'r']

In [473]:
uneliste

[]

In [193]:
uneliste = []

In [200]:
uneliste = [1,2,3, "string", [1,2, 4]]

In [204]:
uneliste

[1, 2, 3, 'string', [1, 2, 4]]

In [210]:
type(uneliste[4])

list

In [211]:
uneliste[0]

1

In [212]:
uneliste.__getitem__(0)

1

In [220]:
uneliste

[1, 2, 3, 'string', [1, 2, 4]]

In [223]:
#uneliste.__setitem__(0, "test")
uneliste[0] = "test"

In [226]:
uneliste[1] = "salut"
uneliste

['test', 'salut', 3, 'string', [1, 2, 4]]

# immutable vs mutables

- UN MUTABLE object => je peux le modifier in situ sans changer son id: `list`, `dict`

- UN IMMUTABLE object => je ne peux pas le modifier => le modifier reviendrait à créer un nouvel objet (donc un nouvel id): `int`, `str`, `tuple`

In [232]:
num1 = 1000000000

In [233]:
id(num1)

4629656176

In [234]:
num1 = num1 + 1

In [235]:
id(num1)

4629656496

In [236]:
string1 = "bonjour"

In [237]:
id(string1)

4622380208

In [238]:
string1 = string1 + " Luc"

In [240]:
id(string1)

4629536688

In [241]:
string1[0] = 'c'

TypeError: 'str' object does not support item assignment

In [242]:
uneliste = [1,2,3]

In [243]:
id(uneliste)

4628723264

In [244]:
uneliste[1] = 3

In [245]:
uneliste

[1, 3, 3]

In [246]:
id(uneliste)

4628723264

## erreur courante

In [252]:
uneliste1 = [1,2,3]
uneliste2 = uneliste1.copy()

In [253]:
print(uneliste1)
print(uneliste2)

[1, 2, 3]
[1, 2, 3]

In [254]:
uneliste1[2] = "salut"

In [255]:
uneliste1

[1, 2, 'salut']

In [256]:
uneliste2

[1, 2, 3]

In [257]:
id(uneliste1)

4629494848

In [325]:
id(uneliste1.copy())

4631020736

## revenons sur les listes

In [327]:
uneliste1.append(3)

In [328]:
id(uneliste1)

4629494848

In [332]:
uneliste1.append("yo")

In [334]:
uneliste1

[1, 2, 'salut', 3, 3, 'yo']

In [335]:
uneliste1.extend([1,2,3])

In [336]:
uneliste1

[1, 2, 'salut', 3, 3, 'yo', 1, 2, 3]

In [338]:
uneliste1.append([1,2,3])

In [339]:
uneliste1

[1, 2, 'salut', 3, 3, 'yo', 1, 2, 3, [1, 2, 3]]

In [344]:
uneliste2 = uneliste1 + [2]

In [346]:
uneliste2

[1, 2, 'salut', 3, 3, 'yo', 1, 2, 3, [1, 2, 3], 2]

In [347]:
id(uneliste2)

4540604032

In [348]:
id(uneliste2[0])

4503820576

In [351]:
id(uneliste.copy()), id(uneliste)

(4627898880, 4628723264)

In [354]:
uneliste[2] = 1

In [355]:
uneliste

[1, 2, 1]

# tuples

In [479]:
untuple = tuple()

In [481]:
type(untuple)

tuple

In [364]:
untuple = (1,2,"salut")

In [365]:
type(untuple)

tuple

In [358]:
id(untuple)

4628292864

In [359]:
untuple[0]

1

In [361]:
untuple2 = untuple + (2,3,2)

In [362]:
untuple2

(1, 2, 3, 2, 3, 2)

# sets

In [490]:
unset = set("bonjour")
unset

{'b', 'j', 'n', 'o', 'r', 'u'}

In [488]:
type(unset)

set

In [366]:
unset = { 1,2,3,4,7,10,15,2,8,2 }

In [370]:
unset

{1, 2, 3, 4, 7, 8, 10, 15}

In [371]:
un2emset = { 5,4,10,25, 30}

In [378]:
un2emset

{4, 5, 10, 25, 30}

- opération d'intersection: <br/>
les éléments communs aux 2 sets conservés et retournés dans un nouveau set

In [377]:
unset & un2emset

{4, 10}

* différence symétrique: <br>
    les éléments non communs 2 à 2 entre les 2 sets, et retournées dans un nouveau set

In [379]:
unset ^ un2emset

{1, 2, 3, 5, 7, 8, 15, 25, 30}

* différence unilatérale:
    les éléments non commun dans un sens

In [381]:
unset - un2emset

{1, 2, 3, 7, 8, 15}

In [382]:
un2emset - unset

{5, 25, 30}

* union

In [383]:
unset | un2emset

{1, 2, 3, 4, 5, 7, 8, 10, 15, 25, 30}

# dicts

In [491]:
dico = {}

In [495]:
dico = dict()

In [496]:
type(dico)

dict

In [497]:
dico

{}

In [436]:
undico = { 
    "Luc": "+33252217",
    "Sébastien": "+56536573647823",
    "Joséphine": "+33666101010"
}

* ajout d'une pair clé:valeur à la collection

In [402]:
undico["Julie"] = "+8873727222"

* update une valeur pour une clé donnée (changer le numéro de Julie)

In [404]:
undico

{'Luc': '+33252217',
 'Sébastien': '+56536573647823',
 'Joséphine': '+33666101010',
 'Julien': '+3667989898',
 'Julie': '+8873727222'}

In [405]:
undico["Julie"] = "+273878732"

In [406]:
undico

{'Luc': '+33252217',
 'Sébastien': '+56536573647823',
 'Joséphine': '+33666101010',
 'Julien': '+3667989898',
 'Julie': '+273878732'}

* deletion d'une pair clé:valeur

In [407]:
del undico["Julie"]

In [408]:
undico

{'Luc': '+33252217',
 'Sébastien': '+56536573647823',
 'Joséphine': '+33666101010',
 'Julien': '+3667989898'}

* look up d'une valeur associée à une clé

In [409]:
undico["Julien"]

'+3667989898'

In [414]:
undico.get("Julie", "+33100000000")

'+33100000000'

In [428]:
18 in [1,2,10,2, 18, 10] # O(n)

True

* An (immutable) object 
* will always have the same
* hash for its entire lifetime.

In [ ]:
set # table hashage

In [426]:
undico["Julien"] # O(1)

'+3667989898'

# les conditions

In [449]:
if 1 > 2: # == 
    print( "salut" )
elif 2 < 4:
    print( "test" )
else:
    print("ah non")

test

# les boucles

In [451]:
i = 0
while i < 10:
    print( "salut")
    i += 1
print( i )

salut
salut
salut
salut
salut
salut
salut
salut
salut
salut
10

# for

In [454]:
# for var in iterable:
    # do somethin

In [498]:
for lettre in "bonjour":
    print( lettre )

b
o
n
j
o
u
r

In [500]:
for el in [1,2,3,4]:
    print( el*2 )

2
4
6
8

In [501]:
for el in {2,3,1}:
    print( el )

1
2
3

In [504]:
undico = { 
    "Luc": "+33252217",
    "Sébastien": "+56536573647823",
    "Joséphine": "+33666101010"
}

In [505]:
undico

{'Luc': '+33252217',
 'Sébastien': '+56536573647823',
 'Joséphine': '+33666101010'}

le cas du dico: 
   - un simple for sur le dico=> itère sur les clés<br>
    même chose avec for in dico.keys()
   - un for sur dico.values() => itère sur les valeurs
   - un for sur dico.items() => itère sur le dictionnaire en <br>
    ressortant clés et valeurs sous forme de tuple à chaque itération

In [514]:
for el in undico.items():
    print( el )
    print( type( el ) )
    print( el[0])
    print( el[1])
    print( "----------")

('Luc', '+33252217')
<class 'tuple'>
Luc
+33252217
----------
('Sébastien', '+56536573647823')
<class 'tuple'>
Sébastien
+56536573647823
----------
('Joséphine', '+33666101010')
<class 'tuple'>
Joséphine
+33666101010
----------

# iterable unpacking

In [544]:
a, b = (1, 2)

In [526]:
a, b = [1,2]

In [529]:
a,b = "bo"

In [532]:
a,b = (1,2,3)

ValueError: too many values to unpack (expected 2)

# extended iterable unpacking

In [537]:
a, *b, c = (1, 2, 3, 4)

In [546]:
for name, phone in undico.items():
    # iteration n1
    # ==> (Luc, +3590593050)
    # name, phone = (Luc, +3590593050)
    # name = Luc
    # phone = +3590593050
    print( name )
    print( phone )
    print( "____")

Luc
+33252217
____
Sébastien
+56536573647823
____
Joséphine
+33666101010
____

markdown

In [548]:
!ls

Coronavirus.jpg          MonPremierNotebook.ipynb

In [549]:
!echo "salut"

salut

In [550]:
!ping -c 2 google.com

PING google.com (142.250.184.14): 56 data bytes
64 bytes from 142.250.184.14: icmp_seq=0 ttl=115 time=44.411 ms
64 bytes from 142.250.184.14: icmp_seq=1 ttl=115 time=16.831 ms

--- google.com ping statistics ---
2 packets transmitted, 2 packets received, 0.0% packet loss
round-trip min/avg/max/stddev = 16.831/30.621/44.411/13.790 ms

# pusher sur github

In [ ]:
#!git init

!git add .
!git commit -m "first upload"

# !git remote add origin https://github.com/Luc-Bertin/IPSSI

In [560]:
!git remote -v

origin	https://github.com/Luc-Bertin/IPSSI (fetch)
origin	https://github.com/Luc-Bertin/IPSSI (push)

In [561]:
!git push origin master

Enumerating objects: 6, done.
Counting objects: 100% (6/6), done.
Delta compression using up to 8 threads
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 169.12 KiB | 18.79 MiB/s, done.
Total 6 (delta 1), reused 0 (delta 0)
remote: Resolving deltas: 100% (1/1), done.
To https://github.com/Luc-Bertin/IPSSI
 * [new branch]      master -> master