1.

In [1]:
def message():
    print("hello")

In [3]:
message()

hello

2.

In [14]:
def message2(name):
    return f"Hello {name}"

In [16]:
message2("Luc")

'Hello Luc'

3.

In [21]:
def message3(name="Luc"):
    return f"Hello {name}"

In [24]:
message3("Marie"), message3()

('Hello Marie', 'Hello Luc')

4.

In [ ]:
 ‘Hello <name>, you are <age> years old’.

In [27]:
def message4(age, name):
    return f"Hello {name.upper()}, you are {age} old"

In [33]:
message4bis = lambda age,name: f"Hello {name.upper()}, you are {age} old"

In [35]:
message4bis(18, "Marie")

'Hello MARIE, you are 18 old'

In [29]:
message4(18, "Luc")

'Hello LUC, you are 18 old'

5.

In [31]:
message4(18, "Marie")

'Hello MARIE, you are 18 old'

In [38]:
message4("Marie", 18)

AttributeError: 'int' object has no attribute 'upper'

In [43]:
message4(name="Marie", age=18)

'Hello MARIE, you are 18 old'

In [44]:
message4(age=18, name="Marie")

'Hello MARIE, you are 18 old'

6.

In [45]:
inputs = {'Luc': 25, 'Corentin': 18, 'Thomas': 29, 'Julie': 22, 'Juliette': 21}

In [56]:
for name, age in inputs.items():
    print(message4( name = name, age = age))

Hello LUC, you are 25 old
Hello CORENTIN, you are 18 old
Hello THOMAS, you are 29 old
Hello JULIE, you are 22 old
Hello JULIETTE, you are 21 old

7.

In [57]:
list_of_arguments = ['Luc', 25]

In [61]:
list_of_arguments2 = [25, "Luc"]

In [62]:
message4(*list_of_arguments2) # message4(25, 'Luc')

'Hello LUC, you are 25 old'

In [77]:
message4(*list_of_arguments[::-1])

'Hello LUC, you are 25 old'

In [78]:
message4(*list_of_arguments)  # message4('Luc', 25)

AttributeError: 'int' object has no attribute 'upper'

8.

In [79]:
dict_of_arguments = {'age':25, 'name': 'Luc'}

In [81]:
message4(**dict_of_arguments) # message(age=25, name='Luc')

'Hello LUC, you are 25 old'

In [82]:
dict_of_arguments = {'name': 'Luc', 'age':25}

In [83]:
message4(**dict_of_arguments) # message(name='Luc', age=25)

'Hello LUC, you are 25 old'

9.

In [85]:
inputs = {'Luc': 25, 'Corentin': 18, 'Thomas': 29, 'Julie': 22, 'Juliette': 21}

In [87]:
for name, age in inputs.items():
    print(message4( age, name))

Hello LUC, you are 25 old
Hello CORENTIN, you are 18 old
Hello THOMAS, you are 29 old
Hello JULIE, you are 22 old
Hello JULIETTE, you are 21 old

In [91]:
for caracteristics in inputs.items():
    print(message4( *caracteristics[::-1] ))

Hello LUC, you are 25 old
Hello CORENTIN, you are 18 old
Hello THOMAS, you are 29 old
Hello JULIE, you are 22 old
Hello JULIETTE, you are 21 old

PART2

In [97]:
def multiply(*args):
    result = args[0]
    for arg in args[1:]:
        result *= arg
    return result

In [104]:
multiply(8,2,3)

48

In [105]:
multiply(19,2,10)

380

In [106]:
multiply(1)

1

2.

In [107]:
def multiply(*args, inverse=False):
    result = args[0]
    for arg in args[1:]:
        result *= arg
    if inverse:
        result= 1/result
    return result

In [109]:
multiply(8,2,3, inverse=False)

48

In [108]:
multiply(8,2,3, inverse=True)

0.020833333333333332

In [111]:
multiply(19,2,10)

380

In [140]:
def multiply(*args, **kwargs):
    print(args)
    print( kwargs)
    result = args[0]
    for arg in args[1:]:
        result *= arg
    if "inverse" in kwargs:
        if kwargs["inverse"]:
            result= 1/result
    return result

In [136]:
multiply(8,2,3, inverse=True)

(8, 2, 3)
{'inverse': True}

0.020833333333333332